.cards-overlap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.masonry {
  max-width: 63.3125em;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  z-index: 28;
  margin-top: -4.5em;
  display: flex;
  gap: 4px; /*modificat*/
  align-items: center;
}
.rounded-corners {
  border-radius: 15%;
}
.rebel-first {
  margin-bottom: -1em;
}
.rebel-second {
  margin-bottom: 4.75em;
}
/* mods */
.dimension {
  width: 100%;
}
.dimension2 {
  width: 50%;
}
.dimension1 {
  width: 90%;
}
