/* ************* ******************How It's Made SECTION************************** */

.crazy-cow {
  /* background-color: #fff5f6; */
}

.how-is-made {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2em auto 0px;
  padding: 3.125em 3.125em 12em;
  background-color: #fff5f6;
}

.how-is-made h3 {
  font-size: 1.5em;
  color: #ffa5ba;
  text-align: center;
}

.how-is-made h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  color: #d14443;
  text-align: center;
}

.how-is-made .read-more {
  font-weight: bold;
  background-color: #ffffff;
  color: #d14443;
  text-decoration: none;
  padding: 1em 2em;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.image-container {
  display: flex;
  margin-top: 3em;
  gap: 7em;
}

.text-container {
  flex-wrap: wrap;
  color: black;
  margin-top: 4em;
  width: 20em;
}

.read-more {
  margin-top: 1em;
  margin-left: 12em;
}
/* Stilizare svg */
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 15vw;
}

.icon-721 {
  border: 3px solid yellowgreen;
}

.icons h2 {
  color: #d14443;
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
}

.svg-dim {
  width: 50px;
  height: 50px;
}

span {
  font-family: 'DM Sans';
  font-weight: 700;
}

/*modal*/

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.open-modal {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #d41443;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.open-modal:hover {
  background-color: #f1c9d5;
}

/* *************Section END************* */
