
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice cream</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titan+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/products.css" />
</head>

<body>
    <h3 class="titlu1">100% natural</h3>
    <h2 class="titlu2">PRODUCTS</h2>
</body>
<main>
    <section class="section-products">
        <div class="section-style">
            <ul class="section-list">
                <div class="card1">
                    <div class="image-container">
                        <img src="imagesproducts/ice cream (1).png" alt="IceCream" class="card-image1">
                        <div class="overlay1">
                            <img src="imagesproducts/Rectangle 3 (2).jpg" alt="Rectangle" class="overlay-image1">
                            <div class="card-content1">
                                <h3 class="design">ICE CREAM</h3>
                                <p class="design2">Indulge in our rich and creamy ice cream, handcrafted with
                                    all-natural
                                    ingredients and available in a variety of flavors.</p>
                                <div class="arrow">
                                    <img src="imagesproducts/arrow.png" alt="arrow" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="card2">
                    <div class="image-container">
                        <img src="imagesproducts/ice coffee (1).png" alt="IceeCoffee" class="card-image2">
                        <div class="overlay2">
                            <img src="imagesproducts/Rectangle 4 (1).jpg" alt="Rectangle" class="overlay-image2">
                            <div class="card-content2">
                                <h3 class="design">ICE COFFEE</h3>
                                <p class="design2">Refresh and energize with our perfectly brewed iced coffee, made with
                                    high-quality beans and served over ice.</p>
                                <div class="arrow">
                                    <img src="imagesproducts/arrow.png" alt="arrow" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="card3">
                    <div class="image-container">
                        <img src="imagesproducts/milkshake (1).png" alt="MILKSHAKES" class="card-image3">
                        <div class="overlay3">
                            <img src="imagesproducts/Rectangle 5.jpg" alt="Rectangle" class="overlay-image3">
                            <div class="card-content3">
                                <h3 class="design">MILKSHAKES</h3>
                                <p class="design2">Satisfy your sweet tooth with our thick, made with premium ice cream,
                                    topped with whipped cream and your favorite toppings.</p>
                                <div class="arrow">
                                    <img src="imagesproducts/arrow.png" alt="arrow" />
                                </div>
                            </div>
                        </div>
                    </div>
            </li>
        </ul>
        </div>
    </section>

</main>